* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("../public/react.png");
    background-repeat: no-repeat;
    background-position: 100px 100px;
    background-size: 30%;
}

.App {
    max-width: 1080px;
    margin: 0 auto;
    height: calc(100vh - 100px);
}